Base.json
{
    "name": "Base",
    "properties": {
        "activities": [
            {
                "name": "Copy data1",
                "type": "Copy",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobStorageWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "quoteAllText": true,
                            "fileExtension": ".txt"
                        }
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "mappings": [
                            {
                                "source": {
                                    "name": "PersonID",
                                    "type": "Int32",
                                    "physicalType": "int"
                                },
                                "sink": {
                                    "name": "PersonID",
                                    "type": "String",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "LastName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "LastName",
                                    "type": "String",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "FirstName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "FirstName",
                                    "type": "String",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Address",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "Address",
                                    "type": "String",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "City",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "City",
                                    "type": "String",
                                    "physicalType": "String"
                                }
                            }
                        ],
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "AzureSqlTable1",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DelimitedText1",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "Success",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "Copy data1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": "https://prod-10.centralus.logic.azure.com:443/workflows/91355119eb2e46e0adfb3aedee56948f/triggers/request/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Frequest%2Frun&sv=1.0&sig=TIZcVcowiKTqQUa_gpJ1zL-6jEh_5yXQ79ceuUdGz7M",
                    "method": "POST",
                    "body": {
                        "value": "{\n    \"title\": \"Data Pipeline Finished!\",\n    \"message\": \"Success!\",\n    \"color\": \"Green\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"pipelineRunId\": \"@{pipeline().RunId}\",\n    \"time\": \"@{utcnow()}\"\n}",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Failure",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "Copy data1",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": "https://prod-10.centralus.logic.azure.com:443/workflows/91355119eb2e46e0adfb3aedee56948f/triggers/request/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Frequest%2Frun&sv=1.0&sig=TIZcVcowiKTqQUa_gpJ1zL-6jEh_5yXQ79ceuUdGz7M",
                    "method": "POST",
                    "body": {
                        "value": "{\n    \"title\": \"Data Pipeline Failed!\",\n    \"message\": \"@{activity('Copy data1').error.message}\",\n    \"color\": \"Red\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"pipelineRunId\": \"@{pipeline().RunId}\",\n    \"time\": \"@{utcnow()}\"\n}",
                        "type": "Expression"
                    }
                }
            }
        ],
        "annotations": [],
        "lastPublishTime": "2022-01-12T19:56:54Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}